/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #06070A; /* Dark background for the entire page */
    color: #E0E0E0; /* Light gray text color for better readability */
    margin: 0;
    padding: 5px;
}

/* Navigation bar styles */
.top-nav {
    background-color: #06070A;
    color: #E0E0E0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.top-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.top-nav ul li {
    margin-right: 20px;
}

.top-nav ul li a {
    text-decoration: none;
    color: #E0E0E0;
    font-weight: thin;
    padding: 8px 16px;
}

.top-nav ul li a:hover {
    background-color: #1A202C; /* Dark highlight on hover */
    border-radius: 4px;
}


/* Landing page styles */
.landing-container  {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Creates space between caption and Spline viewer */
    padding: 50px 0;
}


.caption, .chat-container {
    margin-top: 5px;
    max-width: none;

}

h1, h2 {
    color: #C51162; /* Bright magenta color for headings */
}

/* Styling for forms, text inputs, and chat history */
form, #chat_history, #user_input {
    background-color: #252525; /* Slightly lighter dark shade */
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

input[type="file"], input[type="text"], button {
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
}

input[type="text"] {
    width: calc(100% - 85px); /* Adjust width as needed */
    color: #FFFFFF; /* White text color for input */
}

/* Buttons styles */
button {
    cursor: pointer;
    background: linear-gradient(45deg, rgba(255,255,255,0.1), rgba(255,255,255,0.2));
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 4px 2px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition-duration: 0.4s;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #C51162, #6200EE, #BB86FC, #C51162);
    border-radius: 30px;
    z-index: -1;
    transition: all 0.4s ease;
    background-size: 400%;
}

button:hover::before, #copyText:hover, #pasteText:hover {
    left: 100%;
    background-color: #3700B3; /* Darker purple for hover effect */
}

/* Progress bar styles */
.container {
    margin: 100px auto;
    width: 600px;
    text-align: center;
}

.progress, .progress2 {
    visibility: hidden; /* Set the progress bars to be hidden initially */
    padding: 6px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
    height: 18px;
    background-color: #ee303c;
    border-radius: 4px;
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.progress-striped .progress-bar {
    width: 100%;
    background-image: linear-gradient(45deg, rgba(53, 83, 112, 0.5) 25%, transparent 25%, transparent 50%, rgba(53, 83, 112, 0.5) 50%, rgba(53, 83, 112, 0.5) 75%, transparent 75%, transparent);
    animation: progressAnimationStrike 6s;
}

.progress-bar2 {
    height: 18px;
    border-radius: 30px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
    width: 85%;
    background-color: #ef476f;
    animation: progressAnimation 6s;
}

.progress-infinite .progress-bar3 {
    width: 100%;
    background-image: linear-gradient(to right, #355070, #6d597a, #b56576, #e56b6f, #eaac8b, #ff2d55);
    animation: colorAnimation 1s infinite;
}
